<img class="img-logo" src="images/logo.png" alt="Logo Analiza" width="200px" />
<h2 class="text-center mb-6 mt-0">Registro</h2>
<form [formGroup]="registerForm" class="flex flex-column">
  <p-iconField iconPosition="left" class="w-full mb-4">
    <p-inputIcon>
      <fa-icon [icon]="'user'"></fa-icon>
    </p-inputIcon>
    <input type="text" pInputText variant="filled" placeholder="Nombre de usuario" formControlName="name"
      class="p-inputtext w-full md:w-25rem surface-100 border-3" />
  </p-iconField>

  <p-iconField iconPosition="left" class="w-full mb-4">
    <p-inputIcon>
      <fa-icon [icon]="'envelope'"></fa-icon>
    </p-inputIcon>
    <input type="email" pInputText variant="filled" placeholder="Email" formControlName="email"
      class="p-inputtext w-full md:w-25rem surface-100 border-3" />
  </p-iconField>

  <p-iconField iconPosition="left" class="w-full mb-4">
    <p-inputIcon>
      <fa-icon [icon]="'lock'"></fa-icon>
    </p-inputIcon>
    <input type="text" pPassword variant="filled" placeholder="Contraseña" formControlName="password"
      promptLabel="Ingresa una contraseña" weakLabel="Débil" mediumLabel="Media" strongLabel="Fuerte" [feedback]="false"
      class="p-inputtext w-full md:w-25rem surface-100 border-3" />
  </p-iconField>

  <p-iconField iconPosition="left" class="w-full mb-4">
    <p-inputIcon>
      <fa-icon [icon]="'lock'"></fa-icon>
    </p-inputIcon>
    <input type="text" pPassword variant="filled" placeholder="Confirmar Contraseña" formControlName="confirmPassword"
      promptLabel="Confirmar Contraseña" weakLabel="Débil" mediumLabel="Media" strongLabel="Fuerte" [feedback]="false"
      class="p-inputtext w-full md:w-25rem surface-100 border-3" />
  </p-iconField>

  <p-button label="Registro" (onClick)="register()" styleClass="w-full" />
</form>

<div class="mt-6 text-center">
  ¿Ya tienes cuenta?
  <strong class="text-primary">
    <a class="text-primary" style="cursor: pointer" routerLink="/auth/login">
      Inicia sesión
    </a>
  </strong>
</div>