.container-form {
  margin: 0 auto;
  padding: 1rem;
  width: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 0 2px #145483, 8px 8px 0 0 #145483;
  .titles {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    img {
      height: 100px;
      margin: 1rem auto;
      border-radius: 10px;
    }
  }
  form {
    margin: 8px;
    mat-form-field {
      width: 100%;
      button {
        border: none;
      }
    }

    button {
      margin: 10px 0;
      width: 100%;
      mat-icon {
        font-size: 1.2rem;
        margin-bottom: 12px;
      }
    }
  }
}
